/* Framework */
.container{
    max-width:1170px;
    margin:0 auto;
}

.row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}


/* Col width */
.col-xs-1{
    flex-basis:calc((100% / 12) * 1);
}
.col-xs-2{
    flex-basis:calc((100% / 12) * 2);
}
.col-xs-3{
    flex-basis:calc((100% / 12) * 3);
}
.col-xs-4{
    flex-basis:calc((100% / 12) * 4);
}
.col-xs-5{
    flex-basis:calc((100% / 12) * 5);
}
.col-xs-6{
    flex-basis:calc((100% / 12) * 6);
}
.col-xs-7{
    flex-basis:calc((100% / 12) * 7);
}
.col-xs-8{
    flex-basis:calc((100% / 12) * 8);
}
.col-xs-9{
    flex-basis:calc((100% / 12) * 9);
}
.col-xs-10{
    flex-basis:calc((100% / 12) * 10);
}
.col-xs-11{
    flex-basis:calc((100% / 12) * 11);
}
.col-xs-12{
    flex-basis:calc((100% / 12) * 12);
}

/* Offset */
.offset-xs-1{
    margin-left:calc((100% / 12) * 1);
}
.offset-xs-2{
    margin-left:calc((100% / 12) * 2);
}
.offset-xs-3{
    margin-left:calc((100% / 12) * 3);
}
.offset-xs-4{
    margin-left:calc((100% / 12) * 4);
}
.offset-xs-5{
    margin-left:calc((100% / 12) * 5);
}
.offset-xs-6{
    margin-left:calc((100% / 12) * 6);
}
.offset-xs-7{
    margin-left:calc((100% / 12) * 7);
}
.offset-xs-8{
    margin-left:calc((100% / 12) * 8);
}
.offset-xs-9{
    margin-left:calc((100% / 12) * 9);
}
.offset-xs-10{
    margin-left:calc((100% / 12) * 10);
}
.offset-xs-11{
    margin-left:calc((100% / 12) * 11);
}