/* Regole  generali */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

/* caratteristiche frame */
.container{
    cursor: pointer;
    margin-left:0;
    margin-top:20px;
    position:relative;
}

.col-xs-1{
    height:60px;
    max-width:60px;
    border:1px solid #000;
    background-color: #d18b46;
}
.white{
    background-color: #fff;
    color:#000;
    text-align: center;
    line-height:300%;
    font-size:20px;
}
.light{
    background-color: #fece9e;
}

/* Caratteristiche contenuto */
main{
    margin-left:10%;
}
sub{
    cursor: pointer;
}
sub:hover{
    color:red;
    text-decoration: underline;
}
.red{
    color:crimson;
    font-size:16px;
    padding: 10px 0;
}
section{
    margin-top: 30px;
}

section h2{
    font-size:20px;
    color:orangered;
}
i{
    font-size: 40px;
    text-align:center;
    padding:10px;
}
.whited i{
    color:#fff;
}

.move1:active{
    position:absolute;
    animation-name: first-move;
    animation-duration: 3s;

}

@keyframes first-move{
    0%{
        bottom:190px;
        right: 690px;
    }
    50%{
        bottom: 220px;
        right: 690px;
    }
    100%{
        bottom: 250px;
        right: 690px;
    }
}

.move3:active{
    position:absolute;
    animation-name: third-move;
    animation-duration: 3s;
}

@keyframes third-move{
    0%{
        bottom:190px;
        right: 640px;
    }
    50%{
        bottom: 250px;
        right: 640px;
    }
    100%{
        bottom: 300px;
        right: 640px;
    }
}

.move2:active{
    position:absolute;
    animation-name: second-move;
    animation-duration: 3s;
}

@keyframes second-move{
    0%{
        right:750px;
        top: 180px;
    }
    50%{
        right:750px;
        top: 250px;
    }
    100%{
        right:750px;
        top: 290px;
    }
}
.move4:active{
    position:absolute;
    animation-name: fourth-move;
    animation-duration: 6s;
}

@keyframes fourth-move{
    0%{
        right: 800px;
        top:130px;
        background-color: transparent;
    }
    45%{
        right:580px;
        top:350px;
        background-color: transparent;
    }
    90%{
        right: 750px;
        top: 540px;
    }
    
    100%{
        right: 750px;
        top: 540px;
        background-color: red;
    }
}